aside{
    display: flex;
    flex-direction: column;
    border: none;
    border-right: 3px solid cornflowerblue;
    width: 30%;
    gap: 40px;
    padding: 20px;
}

.aside_container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.icon{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aside_container.active .icon{
    background-color: springgreen;
}


.icon i{
    font-size: 30px;
}

.ball{
    width: 17px;
    height: 17px;
    background-color: transparent;
    border: 3px solid cornflowerblue;
    border-radius: 50%;
}

.aside_container.active .ball{
    background-color: springgreen;
}

.text{
    width: 50%;
}

@media screen and (max-width: 960px){
    aside{
        flex-direction: row;
        width: 100%;
        padding: 0;
        text-align: center;
    }

    .aside_container{
        position: relative;
        flex-direction: column;
        height: 220px;
        justify-content: space-between;
    }
    .text{
        height: 90px;
        width: 90%
    }
}

@media screen and (max-width: 700px) {
    aside{
        gap: 10px;
    }
    .aside_container{
        height: 180px;
    }
    .text h4{
        font-size: 13px;
    }
    .text{
        font-size: 12px;
    }

    .icon{
        width: 50px;
        height: 50px;
    }
    .icon i{
        font-size: 20px;
    }
}
